.menu-overlay {
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  transition: padding 0.5s ease;
  box-sizing: border-box;
  background-color: #41241D;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  transition: clip-path 0.7s ease-in-out;
  pointer-events: none;
  z-index: 9999;
}

.menu-overlay--open {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path 0.5s ease-in-out;
    pointer-events: auto;
  }

.menu-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left; 
}

.menu-navigation li a {
  display: block;
  color: #FEF6E0; 
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
  font-size: clamp(5.4rem, 25vw, 8.5rem);
  line-height: 1.1;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s ease;
}

.menu-navigation li:nth-child(1) a:hover {
    transform: scaleY(1.5);
    padding-bottom: 1rem;
  }

.menu-navigation ul:has(li:nth-child(1) a:hover) li:nth-child(2) a:not(:hover) {
    transform-origin: center top;
    transform: scaleY(0.9);
   
  }

  .menu-navigation ul:has(li:nth-child(1) a:hover) li:nth-child(3) a:not(:hover) {
    transform: scaleY(0.8);
   
  }
   .menu-navigation ul:has(li:nth-child(1) a:hover) li:nth-child(4) a:not(:hover) {
    transform: scaleY(0.7);
   
  }

.menu-navigation li:nth-child(2) a:hover {
    transform: scaleY(1.5);
  }

.menu-navigation ul:has(li:nth-child(2) a:hover) li:nth-child(1) a:not(:hover) {
    transform: scaleY(0.9);
   
  }

  .menu-navigation ul:has(li:nth-child(2) a:hover) li:nth-child(3) a:not(:hover) {
    transform: scaleY(0.9);
   
  }
   .menu-navigation ul:has(li:nth-child(2) a:hover) li:nth-child(4) a:not(:hover) {
    transform: scaleY(0.8);
   
  }

.menu-navigation li:nth-child(3) a:hover {
    transform: scaleY(1.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

.menu-navigation ul:has(li:nth-child(3) a:hover) li:nth-child(1) a:not(:hover) {
    transform: scaleY(0.8);
   
  }
  

  .menu-navigation ul:has(li:nth-child(3) a:hover) li:nth-child(2) a:not(:hover) {
    transform-origin: center bottom;
    transform: scaleY(0.9);
   
  }
 .menu-navigation ul:has(li:nth-child(3) a:hover) li:nth-child(4) a:not(:hover) {
    transform: scaleY(0.9);
   
  }
  .menu-navigation li:nth-child(4) a:hover {
    transform: scaleY(1.5);
  }

  .menu-navigation ul:has(li:nth-child(4) a:hover) li:nth-child(1) a:not(:hover) {
    transform: scaleY(0.9);
   
  }
  

  .menu-navigation ul:has(li:nth-child(4) a:hover) li:nth-child(2) a:not(:hover) {
    transform-origin: center bottom;
    transform: scaleY(0.8);
   
  }
 .menu-navigation ul:has(li:nth-child(4) a:hover) li:nth-child(3) a:not(:hover) {
    transform: scaleY(0.7);
   
  }

.menu-close-button {
  position: absolute;
  top: 2.5rem;
  right: 4rem;
  padding: 0.5rem 1rem;
  border: 1px solid #FEF6E0;
  background-color: transparent;
  color: #FEF6E0;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 0rem;
}

.menu-close-button:hover {
  background-color: #FEF6E0;
  color: #41241D;
}

.menu-logo {
  position: absolute;
  bottom: 5rem;
  right: 4.5rem;
  font-family: "DM Serif Display", serif;
  font-size: 6rem;
  text-decoration: none;
  color: #FEF6E0;
}

.logo-f-gold {
  color: #FFBB00;
}

@media (max-width:480px)
{
  .menu-overlay{
    padding: 1rem;
  }
  .menu-navigation li a {
    font-size: clamp(6rem, 6vw, 3.6rem);
  }
  .menu-logo{
    position: absolute;
    right: 2.5rem;
    bottom: 0rem;
    font-size: 4rem;
    text-decoration: none;
  }
  .menu-close-button{
    position: absolute;
    right: 2rem;
  }
}
@media (min-width:768px) and (max-width:1024px)
{
  .menu-logo{
    font-size: 5rem;
    text-decoration: none;
  }
}
@media (min-width:1024px) and (max-width:1300px)
{
.menu-navigation li a {
    font-size: clamp(16rem, 6vw, 5.6rem);
  }
  .menu-logo{
    text-decoration: none;
  }
  .menu-close-button{
    font-size: 3rem;
  }
  
}